html,
body {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul {
  margin: 0.5rem 0px;
  padding-left: 1.5rem;
}

ul > li {
  margin-bottom: 0.5rem;
}

header {
  text-align: center;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #007acc;
}

a:hover {
  text-decoration: underline;
}

p {
  text-align: left;
}

* {
  /* outline: 1px solid red; */
}

.title_large {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
}

.description {
  font-size: 18px;
  line-height: 140%;
}

@media screen and (max-width: 545px) {
  header {
    text-align: justify;
  }
  p {
    text-align: justify;
  }
}
